{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "env": {
        "browser": true,
    },
    "rules": {
        "indent": [2, "tab", { "SwitchCase": 1 }], 
        "react/jsx-indent": [2, "tab"],
        "react/jsx-indent-props": [2, "tab"],
        "react/jsx-filename-extension": [2, { "extensions": [".js", ".jsx"] }],
        "comma-dangle": 0,
        "import/no-unresolved": 0,
        "eol-last": 0,
        "react/prefer-stateless-function": 0,
        "react/prop-types": 0,
        "react/button-has-type": 0,
        "react/destructuring-assignment": 0,
        "no-tabs": 0,
        "react/self-closing-comp": 0,
        "no-use-before-define": 0,
        "no-underscore-dangle": 0,
        "prefer-const": 0,
        "prefer-destructuring": 0,
        "no-plusplus": 0,
        "import/prefer-default-export": 0,
        "class-methods-use-this": 0,
        "no-mixed-operators": 0,
        "no-return-assign": 0,
        "jsx-a11y/click-events-have-key-events": 0,
        "jsx-a11y/no-static-element-interactions": 0,
        "react/sort-comp": 0,
        "react/jsx-props-no-spreading": 0,
        "arrow-body-style": 0,
        "object-curly-newline": 0,
        "jsx-a11y/no-noninteractive-element-interactions": 0,
        "no-restricted-syntax": 0,
        "no-param-reassign": 0,
        "no-shadow": 0,
        "jsx-a11y/anchor-is-valid": 0
    }
}